bin/bioconda/
bin/jupyter/
config/aws/s3-role.json
jupyter-server.log
.ipynb_checkpoints
fasta/
config/aws/user-data.txt
*_blastn.tsv
*_rpstblastn.tsv
*_transdecoder_blastp.tsv
*_transdecoder.fa
*_transdecoder_rpsblast.tsv
