bin/bioconda/
bin/jupyter/
config/aws/aws-tags-s3.json
config/aws/aws-tags.json
config/aws/s3-role.json
config/aws/transannot-job-definition.json
jupyter-server.log
.ipynb_checkpoints
fasta/
config/aws/user-data.txt
